* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    cursor:none;
}

#FlashLightRed{
    --Xpos: 50vw;
    --Ypos: 50vh;
}
#FlashLightRed::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 4;
    pointer-events: none;
    position: absolute;
    

    background: radial-gradient(
        circle 18em at var(--Xpos) var(--Ypos),
        rgba(255, 0, 0, 0),
        rgba(255,0,0,1)
    );
}

#FlashLightYellow{
    --Xpos: 50vw;
    --Ypos: 50vh;
}
#FlashLightYellow::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 4;
    pointer-events: none;
    position: absolute;
    

    background: radial-gradient(
        circle 18em at var(--Xpos) var(--Ypos),
        rgba(255, 255, 0, 0),
        rgba(255,255,0,1)
    );
}


#FlashLightWhite{
    --Xpos: 50vw;
    --Ypos: 50vh;
}
#FlashLightWhite::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 4;
    pointer-events: none;
    position: absolute;
    

    background: radial-gradient(
        circle 18em at var(--Xpos) var(--Ypos),
        rgba(0, 0, 0, 0),
        rgba(0,0,0,1)
    );
}

